@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');
* {
  border-spacing: border-box;
  margin: 0;
  font-family: 'Lakki Reddy', cursive;
  letter-spacing: 1.5px;
}

body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
  width: 100%;
  height: 100%;
}

.start {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
}

.start-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.instructions {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
}

.start-wizard-image {
  width: 36%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.start-wizard-image img {
  width: 440px;
}

.start-wrapper-text {
  width: 64%;
  /* height: 60vh; */
  text-align: left;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  margin-top: 30px;
}

.start-wrapper-text p {
  font-size: 40px;
  text-shadow: -3px 3px 0px black;
}


.progress-bar {
  width: 600px;
  height: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 5px 0px black;
  margin-top: 7px;
}

.progress {
  width: 15px;
  height: 16px;
  border-radius: 12px;
  background-color: #7658C2;
}

.loading-count {
  height: 50px;
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0 16px;
  text-shadow: -5px 5px 0px black;
}

.percent-count {
  height: 50px;
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0;
  text-shadow: -5px 5px 0px black;

}

.start-text {
  display: none;
  height: 50px;
  font-size: 43px;
  color: white;
  margin: 0;
  cursor: pointer;
  text-shadow: -5px 5px 0px black;
}

.pause {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pause p {
  color: white;
  font-size: 40px;
  text-shadow: -10px 8px 0px black;
}

.play-again {
  cursor: pointer;
}

.instructions-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.progress-wrapper {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0,0,0,.4); */
}

.percent-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-title-wrapper {
  height: 15vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.game-title {
  color: white;
  font-size: 140px;
  text-shadow: -15px 10px 0px black;
}

.win {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  /* text-align: center; */
  display: none;
  z-index: 10;
  background-color: rgba(0,0,0,.2);

}

.win-text-wrapper {
  width: 80%;
  text-align: center;
  height: 80vh;
  z-index: 50;
  background-image: url('../../images/bg-frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 10vh 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.win-text-wrapper p:nth-child(1) {
  font-size: 100px;
  text-shadow: -10px 7px 0px black;
}

.win-text-wrapper p:nth-child(2) {
  font-size: 50px;
  text-shadow: -5px 5px 0px black;
}

.win-text-wrapper p:nth-child(3) {
  font-size: 50px;
  text-shadow: -5px 5px 0px black;
}

.score {
}

.win-time {
}

.hat-score {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.win-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.play-again-container {
  width: 100%;
  text-align: center;
}

.play-again {
  border: 2px solid white;
  border-radius: 50%;
}
